#generation-box::placeholder{
    font: 20px/3 sans-serif;
    text-align: center;
}

#generation{
    display: flex;
}

#pass_length{
     height: 50px;
     width: 150px;
}

#password_box{
     display: flex;
     flex-wrap: nowrap;    
}

#generation-box{
     width: 100%;
     height: 65px;
     font-size: 20px;
     font-weight: bold;
     text-align: center;
     border: 2px solid black;
     border-radius: 10px;
     margin-right: 5px;
     margin-bottom: 35px;
     box-shadow: 5px 10px;
}

#refresh{
     position: absolute;
     left: 80%;
     font-size: 30px;
     margin-top: 30px;
     margin-left: 35px;
}

#clone{
     position: absolute;
     left: 77%;
     font-size: 30px;
     margin-top: 30px;
     margin-left: 35px;
}

#pass_length {
    width: 100%;
    border: 2px solid black;
    height: 75px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: red;
    box-shadow: 5px 10px black;
    margin: 10px;
}

#checkboxes{
     padding: 2%;
     font-size: 15px;
     font-weight: bold;
}

#check1, #check2{
     transform : scale(2);
     margin-right: 15px;
     margin-left: 75%;
     font-size: 20px;
     font-weight: bold;
} 

#check3, #check4{
     transform : scale(2);
     margin-right: 15px;
     margin-left: 5%;
     font-size: 20px;
     font-weight: bold;
} 

#submit, #register, #login{
     width: 100%;
     height: 45px;
     font-size: 15px;
     font-weight: bold;
     text-align: center;
     border: 2px solid black;
     border-radius: 10px;
     margin-top: 15px;
}

#name, #email, #password{
     width: 100%;
     height: 45px;
     font-size: 15px;
     font-weight: bold;
     text-align: center;
     border: 2px solid black;
     border-radius: 10px;
}

::placeholder{
     color: red;
}

#cust_pswd, #cust_pswd2{
     font-weight: bold;
     font-size: 30px;
     margin: 35px;
}

#pass_length_div{
     margin: 5px;
     text-size-adjust: inherit;
     font-size: 20px;
}

#sub_div{
     margin: 20px;
     height: 65px;
     text-align: center;
}

/*
      responsive
*/

@media only screen and (max-width: 600px) {
     #refresh{
          position: absolute;
          left: 75%;
          font-size: 30px;
          margin-top: 35px;
          margin-left: 35px;
     }
     
     #clone{
          position: absolute;
          left: 65%;
          font-size: 30px;
          margin-top: 35px;
          margin-left: 35px;
     }

     #check1, #check2{
          transform : scale(2);
          margin-right: 15px;
          margin-left: 35%;
          font-size: 20px;
          font-weight: bold;
     } 
     
     #check3, #check4{
          transform : scale(2);
          margin-right: 15px;
          margin-left: 35%;
          font-size: 20px;
          font-weight: bold;
     } 

     #generation-box{
          font-size: 20px;
          font-weight: bold;
          text-align: left;
     }

     #pass_length_div{
          margin: 10px;
          text-size-adjust: inherit;
          font-size: 20px;
     }

     #navbar{
          text-align: center;
          font-weight: bold;
     }

     #navbar > #nav_brand{
          text-align: center;
          margin-left: 25px;
     }
}